{{define "home"}}
<!DOCTYPE html>
    <html lang="en">
    {{template "head" .PageTitle}}
    <body>
        {{template "header" .PageTitle}}
        <main>
        <!-- Block Rendering. Range 'Blocks' from type 'homedata', 'Data' from type 'Block' -->
        {{range .Blocks}}
        {{/* "block" .}} 의 '.'은 Blocks 배열의 각각의 Block을 가리키게 됨  */}}
            {{template "block" .}}
        {{end}}
        </main>
    {{template "footer"}}
    </body>
</html>
{{end}}